* {
    margin: 1px;
    padding: 1px;

}
    
.title1 
{
    color: #0E0E0E;
font-family: "Fira Sans";
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.nevbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.button1 {
    color: #006A50;
font-family: "Fira Sans";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
    border-radius: 8px;
border: 1px solid #006A50;
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.button2 {
    color: #FFF;
font-family: "Fira Sans";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
    display: flex;
padding: 17px 34px;
justify-content: center;
align-items: center;
gap: 48px;
border-radius: 8px;
background: #006A50; 
}

.button5 {
    color: #FFF;
font-family: "Fira Sans";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
    
padding: 13px 26px;
justify-content: center;
align-items: center;
gap: 48px;
border-radius: 8px;
background: #006A50; 
}



.bn {
    color: rgba(14, 14, 14, 0.50);
font-family: "Fira Sans";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.idea {
    color: #0E0E0E;
font-family: "Fira Sans";
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.hero-img {
    display: flex;
width: 500px;
padding: 80px 100px;
justify-content: center;
align-items: center;
gap: 64px;
}
.banner {
    display: flex;
    width: 1200px;
    height: ;
    padding: 80px 100px;
    justify-content: center;
    align-items: center;
    gap: 64px;
    border-radius: 24px;
background: #C6E4D6;
}

.box{
    display: flex;

}
.box1 {
    display: flex;
padding: 32px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
flex: 1 0 0;
border-radius: 16px;
border: 0px solid #5490F5;
background: rgba(84, 144, 245, 0.20);
}
.box2 {
    display: flex;
padding: 32px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
flex: 1 0 0;
border-radius: 16px;
border: 0px solid #64f554;
background:#C6E4D6;
}

.box3 {
    display: flex;
padding: 32px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
flex: 1 0 0;
border-radius: 16px;
border: 0px solid #5490F5;
background:#border-radius: 16px;
border: 0px solid #FFC239;
background: #F7EBCF;;
}

.news-box {
    display: flex;
   
}

.news-img {
    width: 408px;
    height: 306px;
    border-radius: 24px;
}

.donate {
   
}

.d-text {
    color: #0E0E0E;
text-align: center;
font-family: "Fira Sans";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.d-text2 {
    color: rgba(14, 14, 14, 0.70);
text-align: center;
font-family: "Fira Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}

.d-box {
    display: flex;
    justify-content: center;
    gap: 24px;

}
    


.d-box-text {
    display: flex;
    align-items: center;
padding: 40px;
flex-direction: column;
align-items: flex-start;
border-radius: 16px;
border: 1px solid rgba(14, 14, 14, 0.15);
background: #FFF;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inp1 {
    display: flex;
    width: 1032px;
    padding: 20px 40px;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
    text-align: center;
}

.button3 {
    color: #FFF;
    font-family: "Fira Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 17px 34px;
    border-radius: 8px;
    border: 1px solid rgba(14, 14, 14, 0.10);
    background: #006A50;
    margin: 10px 0;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
   

}

.newslatter {

width: 1280px;
padding: 80px 100px;
justify-content: center;
align-items: center;
gap: 64px;
border-radius: 24px;
background: #C6E4D6;
margin-bottom: 20px;

}
.footer{
    color: #000000;
    text-align: center;

    
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
    gap: 20px;  
}

.button-hover:hover {
    background-color: #6937e6;   
}
